<!-- end loader -->
<!-- header -->
<header id="default_header" class="header_style_1">
  <!-- header top -->
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="full">
            <div class="topbar-left">
              <ul class="list-inline">
                <li> <span class="topbar-label"  href="/home"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight" ><a href="/home">NewYorkTime</a></span> </li>
                <li> <span class="topbar-label"><i class="fa fa-list"></i></span> <span class="topbar-hightlight"><a href="/movies">Movies List</a></span> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 right_section_header_top">
          <div class="float-left">
          
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- end header top -->
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
      
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>