#pass{
    margin-right: 10px;
   
}

#espleft{
    margin-left: 40px;
    margin-right: 10px;
    
}

#titleliste{
   color: rgb(37, 28, 156);
}
#details{
    background-color: rgb(255, 255, 255);width: 600px;margin-top: -25px;margin-left: -20px;
}